node_modules
.pnpm-store
.env
.env.*
!.env.example
!.env.docker
coverage
.turbo
.nuxt
.output
dist
*.log
prisma/*.db
prisma/*.db-journal
apps/api/node_modules
apps/web/node_modules
apps/gem-hunt-scraper/__pycache__
apps/gem-hunt-scraper/*.pyc
apps/gem-hunt-scraper/.pytest_cache
packages/shared/node_modules
postgres_data
redis_data
*.egg-info
.eggs
build
